
            .bocuc {
                width: 100%;
                height: auto;
                border-style: solid;
                min-height: 900px;
            }
            .trai {
                float: left;
                width: 380px;
                max-width: 380px;
                margin: 0;
                padding: 1em;
                height: auto;
                min-height: 900px;
            }
            .phai {
                margin-left: 150px;
                border-left: 1px solid gray;
                padding: 1em;
                overflow: hidden;
                min-height: 900px;
            }
            
            
            .trai ul {
                list-style-type: none;
                padding: 0;
            }
                
            .trai ul a {
                text-decoration: none;
            }
            
            #dvnb img{
		transition: 1s;
	
	}
	#dvnb:hover img{
	 	transform: scale(1.05);
	 	transition: 1s;
	}