<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="myFooter">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<style type="text/css">

.copyright{
	background-color: #003366 ;
}
</style>
</head>
<body>



<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

  <div style="background-color: #42a6fb;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">HÃY KẾT NỐI VỚI CHÚNG TÔI</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/pages/C%C3%B4ng-Ty-Nextsol/1750422501932891">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png" style="width: 35px; height: 35px;">
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="https://www.facebook.com/pages/C%C3%B4ng-Ty-Nextsol/1750422501932891">
            <img src="https://e7.pngegg.com/pngimages/708/311/png-clipart-twitter-twitter-thumbnail.png" style="width: 35px; height: 35px;">
          </a>
          <!-- Google +-->
          <a class="gplus-ic" href="https://www.facebook.com/pages/C%C3%B4ng-Ty-Nextsol/1750422501932891">
          <img src=" https://w7.pngwing.com/pngs/760/624/png-transparent-google-logo-google-search-advertising-google-company-text-trademark.png" style="width: 35px; height: 35px;">
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="https://www.facebook.com/pages/C%C3%B4ng-Ty-Nextsol/1750422501932891">
          <img src="https://cdn.pixabay.com/photo/2017/08/22/11/56/linked-in-2668696_960_720.png" style="width: 35px; height: 35px;">
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.facebook.com/pages/C%C3%B4ng-Ty-Nextsol/1750422501932891">
            <img src="https://e7.pngegg.com/pngimages/729/192/png-clipart-computer-icons-instagram-logo-sticker-logo-instagram-logo-text-photography.png" style="width: 35px; height: 35px;">
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <img width="60" height="60" src="@../../../../../../../../css/img/logoPX.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="td3">
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>CÔNG TY CỔ PHẦN GIẢI PHÁP VÀO SÁNG TẠO NEXTSOL</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">FANPAGE FACEBOOK</h6>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FC%25C3%25B4ng-ty-c%25E1%25BB%2591-ph%25E1%25BA%25A7n-Next-Solution-126320398059053%2F&tabs=timeline&width=180&height=200&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=538815143635211" width="180" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">ĐỐI TÁC:</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="https://dcv.vn/">DCV</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#">NEXTSOL</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">ABH</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">TNHH LONG BÌNH</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">LIÊN HỆ:</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> + SỐ 2-NGÁCH 18-NGÕ 629-KIM MÃ-BA ĐÌNH-HÀ NỘI</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> + tienphuong1324@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 0981 120 071</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3" id="copyright">© 2020 COPYRIGHT:
    <a class="dark-grey-text" href="#">NEXTSOL ALL RIGHTS RESERVED</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->



</body>
</html>