<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>admin</title>
<div th:replace="header :: myHeader"></div>
<link rel="stylesheet" type="text/css" href="@../../../../../css/service.css?v1">
</head>
<style>
	body{
	width: 1519.2px;
	}
</style>
<body>

<form class="form-inline my-2 my-lg-0" th:action="@{/home/new/page/1}" style="margin-right: 20px;">
	    <input type="hidden" name="sortField" th:value="${sortField}">
		<input type="hidden" name="sortDir" th:value="${sortDir}">
		
      <input class="form-control mr-sm-2" type="search" th:value="${keyword}" aria-label="Search" style="width: 200px;height: 40px" name="keyword">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">TÌM KIẾM</button>
    </form><br>
    
<div class="bocuc">
 
	<div class="trai">
	
			  <ul th:each="s:${serviceAll}">
			    <li><a class="dropdown-item" th:href="@{/home/service/{id}/{alt}(id=${s.id},alt=${s.alt_name})}"><p th:text="${s.service_name}"></p></a></li>
			  </ul>
			
			  
			  <div class="card mb-3">
				  <img src="https://cmcts.com.vn/media/cache/data/JN5nokNySO-cr-1366x675.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">0981120071</h5>
				    <p class="card-text">địa chỉ: SỐ 2-NGÁCH 18-NGÕ 629-KIM MÃ-BA ĐÌNH-HÀ NỘI</p>
				    <p class="card-text">WEBSITE: <a href="https://nextsol.vn/"><code>nextsol.vn</code></a></p>
				    <p class="card-text">EMAIL: <a href="#"><code>tienphuong1324@gmail.com</code></a></p>
				    <p class="card-text">ĐIỆN THOẠI: 0981120071</p>
				  </div>
			  </div>
	
	 </div>
	 
	 <div class="phai">
					<div class="row row-cols-1 row-cols-md-2">
					  <div class="col mb-4" th:each="sk : ${list}">
					    <div class="card h-100">
					      <img th:src="${sk.cover_image}" class="card-img-top" alt="...">
					      <div class="card-body">
					        <h5 class="card-title" th:text="${sk.name}"></h5>
					        <p class="card-text" th:utext="${sk.description}"></p>
					      </div>
					    </div>
					  </div>
					</div>
	</div>
</div>



<!-- thanh chuyển phân trang -->
<nav aria-label="Page navigation example" th:if = "${totalPages}!= null" th:fragment="myPageItem">
  <ul class="pagination justify-content-center">
  
  		<li class="page-item">
	      <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/home/new/page/1?sortField='+${sortField}+ '&sortDir=' + ${sortDir}+${keyword != null ? '&keyword=' + keyword: '' } }">đầu</a>
	      <a class="page-link" th:unless="${currentPage > 1}">đầu</a>
	    </li>
	    <li class="page-item">
	      <a class="page-link" th:if="${currentPage <= totalPages && currentPage > 1}" th:href="@{'/home/new/page/'+${currentPage-1} + '?sortField='+${sortField} + '&sortDir=' + ${sortDir}+${keyword != null ? '&keyword=' + keyword: '' } }">trước</a>
	      <a class="page-link" th:unless="${currentPage > 1}">trước</a>
	    </li>
	    <li class="page-item" th:each="i:${#numbers.sequence(1,totalPages)}">
	    	<a class="page-link" th:if="${currentPage!=i}" th:href="@{'/home/new/page/'+${i} + '?sortField='+${sortField} + '&sortDir=' + ${sortDir} +${keyword != null ? '&keyword=' + keyword: '' } }">[[${i}]]</a>
	    	<a class="page-link" th:unless="${currentPage != i}">[[${i}]]</a>
	    </li>
	    <li class="page-item">
	      <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/home/new/page/'+${currentPage+1} + '?sortField='+${sortField} + '&sortDir=' + ${sortDir}+${keyword != null ? '&keyword=' + keyword: '' } }">tiếp</a>
	      <a class="page-link" th:unless="${currentPage < totalPages}">tiếp</a>
	    </li>
	    <li class="page-item">
	      <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/home/new/page/'+${totalPages} + '?sortField='+${sortField} + '&sortDir=' + ${sortDir}+${keyword != null ? '&keyword=' + keyword: '' } }">cuối</a>
	      <a class="page-link" th:unless="${currentPage < totalPages}">cuối</a>
	    </li>
  </ul>
  <p>tổng: [[${totalItems}]]</p>
</nav>



<div th:insert="footer :: myFooter"></div>
</body>
</html>