<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>admin</title>
<div th:replace="header :: myHeader"></div>
</head>
<style>
	body{
	width: 1519.2px;
	}
</style>
<body>



<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card h-100">
      <img src="https://static.topcv.vn/company_covers/NAiLdoETQVdjNNGXtPek.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">GIỚI THIỆU</h5>
        <p class="card-text">Thành lập từ năm 2013, Công ty DCV được ra đời với mục đích và tôn chỉ là xây dựng một phong cách phục vụ đẳng cấp, đáp ứng càng ngày càng nhiều nhu cầu của khách hàng với thời gian ngày càng rút ngắn và hiệu quả ngày càng nâng cao, với các dịch vụ chuyên nghiệp như dịch vụ Phái cử nguồn nhân lực, dịch vụ Gia công phát triển, dịch vụ Nội dung số, dịch vụ Digital marketing, dịch vụ BPO – Thuê ngoài quy trình dịch vụ… cùng nền văn hóa doanh nghiệp đặc sắc.

Ở ngưỡng cửa khởi nghiệp, chỉ với 5 thành viên thì đến nay, nhân sự  tại công ty đã không ngừng tăng lên và tiến tới năm 2017 dự tính nhân sự sẽ là 200 người. Với các dịch vụ đang hoạt động, DCV cố gắng làm tốt và sẽ phấn đấu thêm có những dịch vụ mới để đáp ứng các nhu cầu của khách hàng cũng như trở thành một tổ chức giàu mạnh, năng động, hiện đại bằng sự nỗ lực tiên phong nghiên cứu, ứng dụng một cách sáng tạo công nghệ để tạo ra giá trị gia tăng cho cuộc sống.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="https://employer.jobsgo.vn/uploads/media/img/376_pictures_library_376_20170115150201_7969.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">PHÁI CỬ NGUỒN NHÂN LỰC CÔNG NGHỆ THÔNG TIN</h5>
        <p class="card-text">Giải thưởng Sao Khuê được VINASA tổ chức từ năm 2003 với mục đích tôn vinh, biểu dương các doanh nghiệp, cơ quan, tập thể và cá nhân có thành tích xuất sắc đóng góp cho sự phát triển ngành công nghiệp phần mềm và công nghệ thông tin Việt Nam. Danh hiệu Sao Khuê là minh chứng cho sự cố gắng nỗ lực của DCV trong suốt năm 2015.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="https://cdn.nhanlucnganhluat.vn/uploads/images/f7f3e866/source/2019-09/376_pictures_library_376_20170115150200_1618.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">SỨ MỆNH</h5>
        <p class="card-text">Sứ mệnh của chúng tôi là làm ngắn lại khoảng cách giữa các bạn với thông tin trên toàn cầu, làm thỏa mãn tối đa mọi nhu cầu cuộc sống của bất kỳ ai, dù ở bất cứ đâu, dù làm bất cứ ngành nghề.
DCV với định hướng trở thành một doanh nghiệp công nghệ truyền thông và quảng cáo trực tuyến, phát triển bền vững trên cơ sở kết hợp sức mạnh tri thức, tính đoàn kết tập thể và công nghệ ở một tầm cao mới. Với cơ cấu gọn nhẹ, khả năng tài chính vững mạnh và kinh doanh ổn định cùng với một phương pháp quản trị doanh nghiệp áp dụng CNTT, DCV đang ngày càng khẳng định vị trí và vị thế trong lĩnh vực phần mềm, truyền thông, và quảng cáo trực tuyến.
Công ty DCV tiến tới triển khai toàn diện các dịch vụ hỗ trợ và giải pháp kinh doanh và tiếp thị công nghệ số trên Internet tại Việt Nam và khu vực, giúp các doanh nghiệp khai thác tối đa sức mạnh của công nghệ thông tin, truyền thông kỹ thuật số và Internet trong việc phát triển kinh doanh. Ngoài ra, phát triển và đẩy mạnh các dự án truyền thông, xây dựng một doanh nghiệp truyền thông lớn mạnh.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="https://hozota.com/upload/images/20161128160125231235_Chuy%E1%BA%BFn%20du%20l%E1%BB%8Bch%20kh%C3%A1m%20ph%C3%A1%20C%C3%B4%20T%C3%B4%20c%E1%BB%A7a%20%C4%91%E1%BA%A1i%20gia%20%C4%91%C3%ACnh%20DCV%204.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">MỤC TIÊU</h5>
        <p class="card-text">Trở thành công ty cung cấp dịch vụ phái cử nguồn nhân lực về CNTT lớn nhất tại Việt Nam
Trở thành nhà phát triển, cung cấp các sản phẩm ứng dụng hàng đầu trên nền tảng thiết bị di động
Tập trung vào các thành phố lớn và tiếp tục mở rộng tại các thành phố chiến lược
Mở rộng thị trường ra nước ngoài
Làm bùng nổ thị trường CNTT Việt Nam bằng cách đưa CNTT vào mọi mặt của đời sống xã hội
Tăng trưởng doanh thu thường xuyên và hướng đến phân khúc khách hàng mục tiêu.
Tăng cường phát triển năng lực đội ngũ nhân viên</p>
      </div>
    </div>
  </div>
</div>




<div th:insert="footer :: myFooter"></div>
</body>
</html>