<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>admin</title>
<div th:replace="header :: myHeader"></div>
</head>
<style>
	body{
	width: 1519.2px;
	}
</style>
<body>



<div class="card">
  <div class="card-header">
    tên công ty
  </div>
  <div class="card-body">
    <h5 class="card-title">giá trị cốt lõi</h5>
    <div class="card bg-dark text-white">
			<img class="card-img" src="https://hozota.com/upload/images/20161128160125153877_Chuy%E1%BA%BFn%20du%20l%E1%BB%8Bch%20kh%C3%A1m%20ph%C3%A1%20C%C3%B4%20T%C3%B4%20c%E1%BB%A7a%20%C4%91%E1%BA%A1i%20gia%20%C4%91%C3%ACnh%20DCV%201.jpg" alt="Card image">
		</div>
    <p class="card-text">Con người là yếu tố quan trọng nhất trong mọi hoạt động. Ngay từ khi thành lập, DCV đã nhìn nhận con người là tài sản quý giá nhất, là yếu tố quan trọng hàng đầu cho sự phát triển bền vững của doanh nghiệp, nhất là trong thời kỳ hội nhập kinh tế quốc tế mạnh mẽ như hiện nay.

Trong thời buổi kinh tế toàn cầu như hiện nay, DCV hiểu rằng các công ty/ doanh nghiệp không chỉ cạnh tranh tiềm lực về vốn, công nghệ, nhân lực, tài sản… mà còn cạnh tranh và chiến thắng nhau bằng văn hóa doanh nghiệp. Chính vì thế, ngay từ những ngày đầu thành lập, khái niệm và phạm trù “Văn hóa DCV” đã được Ban giám đốc quan tâm và phát triển.

Mỗi một thành viên của DCV sẽ là những người đặt nền móng cho văn hóa DCV; Văn hóa DCV không đơn thuần chỉ là hoạt động phong trào bề nổi mà còn là phần chìm với sức lan tỏa mạnh mẽ; và những giá trị văn hóa của DCV là tài sản vô giá mà chúng tôi sử dụng để kiến tạo truyền thống công ty.

Từ nhận thức đó, DCV đã có những chiến lược xây dựng, đào tạo và quản lý nhân sự một cách bài bản và khoa học, tạo thành một thể thống nhất. DCV đã hết sức chú trọng việc xây dựng môi trường làm việc, chính sách lương, khen thưởng cho CBNV cũng như công tác tuyển dụng và đào tạo người lao động, đồng thời DCV cũng ban hành những chính sách cụ thể, khuyến khích sự đóng góp công sức của từng người.

Với những chính sách hợp lý,  DCV luôn có những con người tài năng trong các hoạt động văn hóa. Công ty luôn tổ chức các chương trình mang tính văn hóa cao để tăng cường sự đoàn kết giữa các nhân viên, nâng cao tinh thần văn hóa công ty:

Hiện nay, công ty thường xuyên tổ chức:
<p class="card-text">Các buổi teambuilding</p>
<p class="card-text">Tổ chức sinh nhật</p>
<p class="card-text">Các hoạt động nghỉ mát, du lịch</p>
<p class="card-text">Các chương trình hội thao</p>
<p class="card-text">Các chuyến đi từ thiện</p>
<p class="card-text">Câu lạc bộ tiếng anh</p>
<p class="card-text">Câu lạc bộ bóng đá… cùng nhiều hoạt động khác</p></p>
  </div>
</div>

<div th:insert="footer :: myFooter"></div>
</body>
</html>