<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>admin</title>
<div th:replace="header :: myHeader"></div>
</head>
<style>
	body{
	width: 1519.2px;
	}
</style>
<body>



<div class="card">
  <div class="card-body">
    <h5 class="card-title">giá trị cốt lõi</h5>
    <p class="card-text">Giá trị cốt lõi mà DCV đang theo đuổi là niềm tin vào sự nỗ lực và tinh thân làm chủ doanh nghiệp của các thành viên công ty.

Chúng tôi có 6 nguyên tắc không bao giờ thay đổi, là kim chỉ nam cho mọi hành động của công ty. Chúng tôi gọi đó là “6 GIÁ TRỊ CỐT LÕI”</p>
  </div>
</div>

<div th:insert="footer :: myFooter"></div>
</body>
</html>